spring:
    datasource:
        url: jdbc:mysql://120.77.79.99:3306/xiaoyaoshai?serverTimezone=Asia/Shanghai&characterEncoding=UTF-8&useSSL=false
        username: root
        password: 12345.linyi
        driver-class-name: com.mysql.cj.jdbc.Driver
        name: defaultDataSource
    redis:
        host: 127.0.0.1
        port: 6379
    mail:
        #  邮箱服务器地址
        host: smtp.qq.com
        #  邮箱用户名(qq邮箱)
        username: 2287511565@qq.com
        #  邮箱密码（授权码）
        password: sqyaggotowovdjee
        #  编码格式
        default-encoding: utf-8
        # 如果使用端口为465，将protocol的smtp改为smtps
        # 将配置文件端口改为587，则可以使用smtp
        port: 465
        # protocol: smtps
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true
                    socketFactory:
                        port: 465
                        class: javax.net.ssl.SSLSocketFactory
                        fallback: false
                    ssl:
                        enable: true
mybatis:
    mapper-locations: classpath:mapper/*xml
    type-aliases-package: com.lin.xiaoyaoshai.entity
    configuration:
        map-underscore-to-camel-case: true

mybatis-plus:
    configuration:
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
server:
    port: 8085
#spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
##
#spring.datasource.name=defaultDataSource
##
#spring.datasource.url=jdbc:mysql://localhost:3306/xiaoyaoshai?serverTimezone=Asia/Shanghai&characterEncoding=UTF-8&useSSL=false
##
#spring.datasource.username=root
#spring.datasource.password=123456

#
#mybatis.mapper-locations=classpath:mapper/*xml
##
#mybatis.type-aliases-package=com.lin.xiaoyaoshai.entity
#mybatis.configuration.map-underscore-to-camel-case=true
#server.port=8085
#
##mybatis-plus
#mybatis-plus.configuration.log-impl=org.apache.ibatis.logging.stdout.StdOutImpl

